<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RentLog.TrayLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <RentLog.TrayLauncher.Properties.Settings>
      <setting name="TrayIconFile" serializeAs="String">
        <value>Icons/merchant_16x16.ico</value>
      </setting>
      <setting name="TrayToolTip" serializeAs="String">
        <value>Launcher Menu</value>
      </setting>
      <setting name="UpdatedExeSource" serializeAs="String">
        <value>C:\Users\__user_name_here__\Google Drive\MSA_Deploy\RL.TrayLauncher.exe</value>
      </setting>
      <setting name="DatabasesPath" serializeAs="String">
        <value>C:\Users\__user_name_here__\Google Drive\__branch_name_here__\TenantDBs</value>
      </setting>
      <setting name="CredentialsKey" serializeAs="String">
        <value>{
"BaseURL"   : "https://some-project.firebaseio.com/",
"ApiKey"    : "API-key-goes-here",
"Email"     : "staff.pc-name@brand.branch",
"Password"  : "firebase-password-here",
"HumanName" : "Ms. Staff",
"Roles"     : "Supervisor/Cashier"
}</value>
      </setting>
    </RentLog.TrayLauncher.Properties.Settings>
  </userSettings>
</configuration>